@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root{
	--verde: #0f9c18;
	--rojo: #ab0a0a;
	--rojo-oscuro: #850707;
	--rosa: #e01b6d;
	--blanco: #fff;
	--negro: #000;
	--gris-claro: #f5f5f5;
	--gris-oscuro: #64748b;
	--gris: #94a3b8;
}
